.error-message {
	color: #c80000;
	font-weight: bold;
	font-size: 1.3 em
}
 
  /*---------------------------------------------*/
  input {
	  outline: none;
	  border: none;
  }
  
  textarea {
	outline: none;
	border: none;
  }
  
  textarea:focus, input:focus {
	border-color: transparent !important;
  }
  
  /*---------------------------------------------*/
  button {
	  outline: none !important;
	  border: none;
	  background: transparent;
  }
  
  button:hover {
	  cursor: pointer;
  }
  
  iframe {
	  border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

  .txt1 {
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.5;
	color: #999999;
  }
  
  .txt2 {
	font-family: Poppins-Regular;
	font-size: 13px;
	line-height: 1.5;
	color: #666666;
  }

  .div1{
	  padding-top: 10px;
	  padding-bottom: 10px;
  }

  .div2{
	padding-top: 10px;
	padding-bottom: 10px;
}

  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
	width: 100%;
	margin: 0 auto;
  }

  .container-login100 {
	width: 100%;  
	min-height: 100vh;
    padding: 50px;
      padding-left: 200px;
      padding-right: 200px;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg,#448239 , #57b846);
  }

.container-login100>div { flex:1; }
  
  .wrap-login100 {
	width: 400px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: block;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
  }
.wrap-signup {
	width: 800px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
  }

  
  /*------------------------------------------------------------------
  [  ]*/
  
  .login100-form-title {
	font-family: Poppins-Bold;
	font-size: 24px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 54px;
  }
  
  
  /*---------------------------------------------*/

  
  .input100 {
	font-family: Poppins-Medium;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
	width: 100%;
	background: #e6e6e6;
	height: 50px;
	border-radius: 25px;
	padding: 0 30px 0 68px;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: inline-block;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
    padding-bottom: 10px;
      
  }
  
  .login100-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background: #57b846;
	float: center;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 0 25px;  
	
  }

.login100-form-btn-back {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background: #57b846;
	float: left;
	display: block;
	justify-content: center;
	align-items: center;
	padding: 0 25px;  
	
  }

  .login100-form-btn:hover {
	background: #333333;
  }

.input-label{
	float: left;
	padding-left: 60px;
	padding-top: 10px;
	font-size: 14px;
	
}



